@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-grey-11: hsl(0, 0%, 80%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --input-border: 1px solid var(--clr-grey-7);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, button{
  text-transform: capitalize;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-primary-1);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.nav-Container{
  margin-bottom: 20px;
  box-shadow: var(--light-shadow);
  background: var(--clr-grey-10);
}
.nav{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 0 10px;
}
.leftSection{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.leftSection .logo{
  font-size: 2rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px 3px hsl(0, 100%, 88%);
}
.burger-icon div{
  width: 22px;
  padding: 1px;
  background: var(--clr-black);
  margin-top: 5px;
}
.burger-icon div:nth-child(3){
  margin-bottom: 5px;
}
.burger-icon{
  cursor: pointer;
  display: none;
}
.link{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.link li{
  width: max-content;
}
.link li a{
  font-size: 1.2rem;
  color: var(--clr-black);
  transition: all 0.2s ease-in-out;
}
.link li a:hover{
  color: var(--clr-red-dark);
  cursor: pointer;
}
@media(max-width:800px){
  .nav{
    flex-direction: column;
  }
  .burger-icon{
    display: block;
  }
  .rightSection{
    align-self: flex-start;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all 1s ease-in-out;
  }
  .link{
    flex-direction: column;
    gap: 0;
    align-items: start;
  }
  .link li{
    padding: 5px 10px;
    width: 100%;
    transition: all 0.2s ease-in-out;
  }
  .link li:hover{
    background: var(--clr-grey-9);
    transform: translateX(5px);
    box-shadow: var(--light-shadow);
  }
}
.todo-container{
  display: flex;
  flex-direction: column;
  background: var(--clr-grey-10);
  max-width: 900px;
  margin: auto;
  padding: 20px;
}
.todo-title h1{
  text-align: center;
  font-size: 2.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.todo-title{
  margin-bottom: 10px;
  border-bottom: 1px solid var(--clr-black);
  padding-bottom: 5px;
}
.input-section{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  margin-bottom: 5px;
  /* padding: 10px; */
  /* border: 1px solid black; */
}
.todo-input{
  border: var(--input-border);
  border-radius: 5px;
  height: 100%;
}
.todo-inputName{
  padding: 4px 10px;
  font-size: 1.25rem;
}
.todo-inputDate{
  font-size: 1.25rem;
  padding: 3px 10px;
  color: var(--clr-grey-8);
}
.todo-inputName::placeholder{
  color: var(--clr-grey-8);
}
.add-btn{
  padding: 3px 10px;
  font-size: 1.2rem;
  border: 1px solid transparent;
  background: var(--clr-primary-2);
  color: var(--clr-white);
  border-radius: 5px;
}
.sort-section{
  display: flex;
  justify-content: end;
  border-bottom: 1px solid var(--clr-black);
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.sort-btn{
  padding: 3px 10px;
  font-size: 1.2rem;
  border: 1px solid transparent;
  background: var(--clr-primary-2);
  color: var(--clr-white);
  border-radius: 5px;
}
.todo-list-section{
  border: 1px solid black;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px;
  /* overflow: auto; */
}
.section-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-radius: ; */
  border: 1px solid black;
}
.section-header-row{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px
}
.section-header-row span{
  /* border: 1px solid black; */
  padding: 0 7px;
  border-radius: 100px;
  color: var(--clr-black);
  background: var(--clr-grey-9);
}
.chevron{
  /* border: 1px solid black; */
  /* padding: 2.5px 5px; */
  font-size: 30px;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chevron-active{
  transform: rotate(180deg);
}














































